{
  "plugins": [
    [
      "../lib/index.js",
      {
        "rules": {
          "https://api.example.com": "http://localhost:3000"
        },
        "env": [
          "production"
        ]
      }
    ]
  ]
}
